/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
section {
  width: 50%;
  border: solid black 2px;
  margin: 10vh auto;
  padding: 15% 15%;
}

body>h1 {
  margin: 30px 25%;
  text-align: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
